body {
  justify-content: center;
  align-items: center;
  display: flex;  
}

.day {
  padding: 10px;
  text-align: center;
}

.thu {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.today {
  color: white;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 30px;
}